<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/Flow.Users.Service/FlowUsersService.svc" binding="wsHttpBinding" bindingConfiguration="FlowUsersService_Binding" contract="Flow.Users.Contract.IFlowUsersService" name="FlowUsersService_Endpoint"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="FlowUsersService_Binding" maxReceivedMessageSize="1000000" sendTimeout="00:05:00" receiveTimeout="00:05:00"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
