@model Flow.Tasks.View.Models.TaskModel
<div id="taskHeader" class="wfrow">
    <div id="taskTitle">
        <p class="highlight">
            @Model.Title</p>
    </div>
    <div id="taskDescription">
        <p class="highlight">
            @Model.Description</p>
    </div>
</div>
