<div id="searchWorkflow">
    <p>
        @*
        This is not working
    
        @Html.TextBoxFor(x => x.Start, new { @value = "01/10/2012", @class = "datePicker" })
        
        1. the value is converted in a date with hours so datepicker don't recognize it as a date.
        2. NOTE that the format of the date has to be initialized as MM/dd/yyyy even if you set 
            it to be dd/MM/yyyy (!!!)
        *@

        Starting from
        @Html.TextBox("Start_TaskTime", DateTime.Now.AddMonths(-1).ToString("MM/dd/yyyy"), new { @class = "datePicker" })

        till        
        @Html.TextBox("End_TaskTime", DateTime.Now.AddDays(1).ToString("MM/dd/yyyy"), new { @class = "datePicker" })

        @* multiselect jquery docs: http://www.erichynds.com/jquery/jquery-ui-multiselect-widget/*@

        <select id="Select_TaskTime" name="Select_TaskTime" multiple="multiple"></select>
        <select id="Select_TaskWfTime" name="Select_TaskWfTime" multiple="multiple"></select>

        <input type="submit" name="refresh_TaskTime" id="refresh_TaskTime" value="Refresh" class="roundBox" />
    </p>
</div>

<br class="break" />

