<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value=""/>
    <add key="AccessToken" value=""/>
    <add key="AccessTokenSecret" value=""/>
    <add key="WorkflowDomain" value="google"/>
    <add key="WorkflowCode" value="SampleWf1"/>
    <add key="WorkflowProperty" value="TwitterText"/>
    <add key="TwitterUser" value="your user name"/>
    <add key="TwitterPattern" value="#StartWF"/>
    <add key="Delay" value="10000"/>
    <add key="PathTwitterData" value="C:\Dev\FlowTasks\src\Test\Connectors\Twitter\TwitterData\TwitterData.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
