@{
    ViewBag.Title = "FlowTasks";
    ViewBag.Keywords = "flowtasks,business,process,automation,monitor,reports,sketch,workflow,designer,messenger,topics,dashboard,task list";
    ViewBag.Description = "FlowTasks is a framework that allows you to automate and monitor all your business processes.";
}

<div class="lightBoxBack" style="display:none;">
</div>
<div class="lightBoxContent" style="display:none;">
    <div class="x">
        X
    </div>
    <div class="vertAlignMiddle">
        <div class="centreContent">
        </div>
        <iframe class="feature" src=""></iframe>
    </div>
</div>

<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="~/" class="navbar-brand">
                <div class="logo"></div>
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Documentation", "Index", "Doc")
                </li>
                <li>
                    @Html.ActionLink("Download", "Index", "Download")
                </li>
                <li>
                    @Html.ActionLink("FAQ", "Index", "Faq")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Index", "Contact")
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <div class="sliderWrapper">
                    <div class="slides"></div>
                    <div class="slideControlsWrap">
                        <div class="slideControlsFront"></div>
                        <div class="slideControls"></div>
                        <div class="slideControlsBack"></div>
                    </div>
                </div>
                <div class="sliderTip">
                    <img src="~/images/sliderTipDown.png" alt="" class="down" />
                    <img src="~/images/sliderTipleft.png" alt="" />
                    <p>Text text text</p>
                    <img src="~/images/sliderTipRight.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 class="title">
                        Automate and monitor all your
                        <br />
                        business processes.
                    </h1>
                    <h1 class="title">Improve team communication.</h1>
                </div>
            </div>
        </div>
    </div>

    @*<div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                    <h2>Avoid using emails to kick off work processes!</h2>
                    <div class="text-warning">
                        Emails are bad because:
                        <ul>
                            <li>
                                Once an email is sent is hard to keep track on what is going on.
                            </li>
                            <li>
                                Sometimes emails sent to other team members or department are never seen again.
                            </li>
                            <li>Some employees spend the majority of their time to monitor in-boxes.</li>
                        </ul>
                    </div>
                    <h2 class="text-success">Solution: use FlowTasks!</h2>
                    <div class="text-success">
                        With FlowTasks your organization can:
                        <ul>
                            <li>
                                Cut costs.
                            </li>
                            <li>
                                Enforce your business processes.
                            </li>
                            <li>
                                Monitor project status.
                            </li>
                            <li>
                                Save time traditionally spent performing manual processes.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="well">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5">
                    <h3>
                        FlowTasks is an open source project that helps you improve the way your organization works.
                        <br />
                        <br />

                        Imagine all your business processes synchronized and managed by an automated system.
                        <br />
                        <br />

                        Imagine all your team communication easily accessible everywhere.
                        <br />
                        <br />

                        FlowTasks is open source so you can download the code and change it as you wish.
                        <br />
                        That means you don't have to deal with contracts or sales people!
                    </h3>
                </div>
                <div class="col-lg-5">
                    <img src="Images/MobileHome.jpg" style="max-width:100%;height:auto;" />
                </div>
                <div class="col-lg-1">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-4 ">
                <h2 class="title">Framework for process automation</h2>
                <p>
                    With FlowTasks you can automate all the processes in your organization.
                    In the backend it uses Microsoft workflow engine. It hides all the plumbing
                    so that you can focus only on the important things that matter to you...
                    Improving your organization!
                </p>
            </div>
            <div class="col-lg-4">
                <h2 class="title">Easily customizable for every environment</h2>
                <p>
                    FlowTasks provides you with a wide range of functionalities to easily connect
                    workflows to your system and design tasks based on the needs of your organization.
                </p>
            </div>
            <div class="col-lg-4">
                <h2 class="title">Every one can design workflows</h2>
                <p>
                    FlowTasks has an easy an intuitive workflow designer that all levels of the
                    business can use to design the process workflow. The developers can then complete
                    the development and deploy the workflow. This eliminates the comunication gap
                    that sometimes exists between developers and other parts of the business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ">
                <h2 class="title">Stay in touch</h2>
                <p>
                    With FlowTasks you can send messages to all members or groups in your organization.
                    You'll always be connected with all the people you need to get your job done.
                </p>
            </div>
            <div class="col-lg-4">
                <h2 class="title">Keep track of all the work done</h2>
                <p>
                    FlowTasks stores important information about all the workflows in your system.
                    So you'll always know what's happend or is happening in your organization.
                </p>
            </div>
            <div class="col-lg-4">
                <h2 class="title">Monitor your organization</h2>
                <p>
                    Flowtasks collects a lot of data that can then be reviewed through a series of
                    reports. You can gather useful information like the workload of your employees or the
                    performance of your business processes.
                </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Back to top</a></li>
                </ul>
            </div>
        </div>

    </footer>

</div>

@section scripts{
    <script src="~/Scripts/video.js"></script>
    <script src="~/Scripts/slider.js"></script>
    <script src="~/Scripts/flowtasks.js"></script>
}
