<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FlowDocsEntities" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbVerboseUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
      <add name="dbProcUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
    </providers>
  </neatUpload>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\FlowDocsOperationsWebMsg.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\logs\FlowDocsOperationsWebTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service name="Flow.Docs.Service.FlowDocsOperations" behaviorConfiguration="FlowDocsOperations_Behavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="FlowDocsOperations_Binding" contract="Flow.Docs.Contract.IFlowDocsOperations"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="FlowDocsOperations_Binding" maxReceivedMessageSize="1000000" transactionFlow="true" sendTimeout="00:30">
          <readerQuotas maxArrayLength="524288"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FlowDocsOperations_Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>