<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  </configSections>
  <connectionStrings>
    <add name="FlowDocsEntities" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TmpFile" value="C:\Dev\FlowTasks\src\Test\Flow.Docs.Test\tmp\"/>
    <add key="NeatuploadConfig" value="C:\Dev\FlowTasks\src\Test\Flow.Docs.Test\neatupload.config"/>
    <add key="NeatuploadFile" value="C:\Dev\FlowTasks\src\Test\Flow.Docs.Test\small-file.txt"/>
    <!--<add key="NeatuploadFile" value="C:\Dev\Codeplex\FlowTasks\src\Test\Flow.Docs.Test\q-station-sydney-harbour-national-park-fact-sheet.pdf" />-->
    <add key="NeatuploadFileTmp" value="C:\Dev\FlowTasks\src\Test\Flow.Docs.Test\tmp\"/>
  </appSettings>
  <neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbVerboseUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
      <add name="dbProcUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
    </providers>
  </neatUpload>
  <entityFramework>
    <contexts>
      <context type="Flow.Docs.Data.FlowDocsEntities, Flow.Docs.Data">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Flow.Docs.Data.FlowDocsEntities, Flow.Docs.Data],                               [Flow.Docs.Data.Migrations.Configuration, Flow.Docs.Data]], EntityFramework"/>
      </context>
    </contexts>

    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>-->
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
