<neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbVerboseUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
      <add name="dbProcUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
    </providers>
  </neatUpload>
  
