<?xml version="1.0"?>
<configuration>
   <configSections>
     <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload"/>
     <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
   </configSections>

  <connectionStrings>
      <add name="FlowDocsEntities" connectionString="data source=HP-SO-PG\MSSQLSERVER2008;Database=FlowDocs;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
      <add name="FlowTasksEntities" connectionString="data source=HP-SO-PG\MSSQLSERVER2008;Database=FlowTasks;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
      <add name="FlowUsersEntities" connectionString="data source=HP-SO-PG\MSSQLSERVER2008;Database=FlowUsers;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
  <neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbVerboseUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
      <add name="dbProcUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
    </providers>
  </neatUpload>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFlowTasksOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IFlowTasksOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf1.xamlx/wce" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="System.ServiceModel.Activities.IWorkflowInstanceManagement" name="BasicHttpBinding_IFlowTasksOperationsControl"/>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf1.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="BasicHttpBinding_IFlowTasksOperations"/>
      <endpoint address="net.pipe://hp-so-pg/ServiceWorkflows/SampleWf1.xamlx" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="NetNamedPipeBinding_IFlowTasksOperations">
        <identity>
          <servicePrincipalName value="host/HP-SO-PG"/>
        </identity>
      </endpoint>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf2.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="BasicHttpBinding_IFlowTasksOperations2"/>
      <endpoint address="net.pipe://hp-so-pg/ServiceWorkflows/SampleWf2.xamlx" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="NetNamedPipeBinding_IFlowTasksOperations2">
        <identity>
          <servicePrincipalName value="host/HP-SO-PG"/>
        </identity>
      </endpoint>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf3.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="BasicHttpBinding_IFlowTasksOperations3"/>
      <endpoint address="net.pipe://hp-so-pg/ServiceWorkflows/SampleWf2.xamlx" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="NetNamedPipeBinding_IFlowTasksOperations3">
        <identity>
          <servicePrincipalName value="host/HP-SO-PG"/>
        </identity>
      </endpoint>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf4.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="BasicHttpBinding_IFlowTasksOperations4"/>
      <endpoint address="net.pipe://hp-so-pg/ServiceWorkflows/SampleWf2.xamlx" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="NetNamedPipeBinding_IFlowTasksOperations4">
        <identity>
          <servicePrincipalName value="host/HP-SO-PG"/>
        </identity>
      </endpoint>
      <endpoint address="http://hp-so-pg/ServiceWorkflows/SampleWf5.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="BasicHttpBinding_IFlowTasksOperations5"/>
      <endpoint address="net.pipe://hp-so-pg/ServiceWorkflows/SampleWf5.xamlx" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IFlowTasksOperations" contract="Flow.Tasks.Interface.IFlowTasksOperations" name="NetNamedPipeBinding_IFlowTasksOperations5">
        <identity>
          <servicePrincipalName value="host/HP-SO-PG"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  <!-- This section contains the log4net configuration settings -->
   <log4net>
      <!-- Define some output appenders -->
      <appender name="renewalimportlog" type="log4net.Appender.RollingFileAppender, log4net">
         <param name="File" value="C:/Logs/DocsOnFolder.log"/>
         <param name="AppendToFile" value="true"/>
         <param name="RollingStyle" value="Size"/>
         <param name="MaximumFileSize" value="1MB"/>
         <param name="maxSizeRollBackups" value="100"/>
         <param name="DatePattern" value="yyyy.MM.dd"/>
         <param name="StaticLogFileName" value="true"/>
         <layout type="log4net.Layout.PatternLayout, log4net">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
         </layout>
      </appender>

      <!-- Setup the root category, add the appenders and set the default priority -->
      <root>
         <priority value="ALL"/>
         <level value="DEBUG"/>
         <appender-ref ref="renewalimportlog"/>
      </root>
   </log4net>

   <!-- settings for the windows service -->
   <appSettings>
     
      <add key="ImportLocation" value="C:\Dev\Codeplex\FlowTasks\src\Flow.Connectors\Flow.Connectors.DocsOnFolder\ProcessingFolder\FTPIn"/>
      <add key="ArchiveLocation" value="C:\Dev\Codeplex\FlowTasks\src\Flow.Connectors\Flow.Connectors.DocsOnFolder\ProcessingFolder\Archive"/>
      <add key="MaximumRetrySeconds" value="20"/>
      <add key="RetryDelayMilliseconds" value="150"/>

     <!--Docs-->
     <add key="NeatuploadConfig" value="C:\Dev\codeplex\flowtasks\src\Test\Flow.Docs.Test\neatupload.config"/>
     <add key="WorkflowDomain" value="google"/>
     <add key="WorkflowCode" value="SampleWfCode"/>
     <add key="WorkflowProperty" value="DocumentOid"/>

   </appSettings>


<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>

</configuration>
