<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload"/>
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <system.serviceModel>
    <bindings>

      <wsHttpBinding>
        <binding name="FlowTasksService_Binding" receiveTimeout="00:05:00" maxReceivedMessageSize="1000000"/>

        <binding name="FlowDocsOperations_Binding" receiveTimeout="00:05:00" maxReceivedMessageSize="1000000">
          <readerQuotas maxArrayLength="524288"/>
        </binding>
      </wsHttpBinding>
      
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FlowTasks" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_FlowTasks" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
      
    </bindings>

    <client>

      <endpoint address="http://localhost/Flow.Tasks.Service/FlowTasksService.svc" binding="wsHttpBinding" bindingConfiguration="FlowTasksService_Binding" contract="Flow.Tasks.Contract.IFlowTasksService" name="FlowTasksService_Endpoint"/>

      <endpoint address="http://localhost/Flow.Docs.Service/FlowDocsOperations.svc" binding="wsHttpBinding" bindingConfiguration="FlowDocsOperations_Binding" contract="Flow.Docs.Contract.IFlowDocsOperations" name="FlowDocsOperations_Endpoint"/>

    </client>      
            
  </system.serviceModel>
  
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="renewalimportlog" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="C:/Logs/DocsOnFolder.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="maxSizeRollBackups" value="100"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ALL"/>
      <level value="DEBUG"/>
      <appender-ref ref="renewalimportlog"/>
    </root>
  </log4net>
  
  <!-- settings for the windows service -->
  <appSettings>
    <add key="ImportLocation" value="C:\Dev\FlowTasks\HrFiles\FTPIn"/>
    <add key="ArchiveLocation" value="C:\Dev\FlowTasks\HrFiles\Archive"/>
    <add key="MaximumRetrySeconds" value="20"/>
    <add key="RetryDelayMilliseconds" value="150"/>

    <!--Docs-->
    <add key="WorkflowDomain" value="AcmeStar"/>
    <add key="WorkflowCode" value="HrProcess"/>
    <add key="WorkflowProperty" value="DocumentOid"/>

  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
