<neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" 
           connectionString="data source=|SERVER|;Database=|Database name|;UID=|LOGIN|;Password=|PASSWORD|" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
    </providers>
  </neatUpload>
  
