<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FlowTasksEntities" connectionString="data source=.;Database=FlowTasks;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
    <add name="FlowUsersEntities" connectionString="data source=.;Database=FlowUsers;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
    <add name="FlowDocsEntities" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <neatUpload defaultStorageProvider="dbUploader" xmlns="http://www.brettle.com/neatupload/config/2008">
    <providers>
      <add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="data source=.;Database=FlowDocs;UID=sa;Password=admin" tableName="Attachment" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
      <add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbVerboseUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
      <add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
      <add name="dbProcUploaderSqlExpress" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.\SQLEXPRESS;Database=FileStorageTest;Trusted_Connection=True;" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
    </providers>
  </neatUpload>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\FlowTasksServiceWebMsg.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\logs\FlowTasksServiceWebTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <client>
      <endpoint address="http://localhost/Flow.Users.Service/FlowUsersService.svc" binding="wsHttpBinding" bindingConfiguration="FlowUsersService_Binding" contract="Flow.Users.Contract.IFlowUsersService" name="FlowUsersService_Endpoint">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Flow.Tasks.Service.FlowTasksService" behaviorConfiguration="FlowTasksService_Behavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="FlowTasksService_Binding" contract="Flow.Tasks.Contract.IFlowTasksService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="FlowTasksService_Binding" maxReceivedMessageSize="1000000" sendTimeout="00:05:00" receiveTimeout="00:05:00"/>
        <binding name="FlowUsersService_Binding" maxReceivedMessageSize="1000000" sendTimeout="00:05:00" receiveTimeout="00:05:00"/>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FlowTasks" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FlowTasksService_Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>