<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FlowTasksEntities" connectionString="data source=.;Database=FlowTasks;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
    <add name="FlowUsersEntities" connectionString="data source=.;Database=FlowUsers;UID=sa;Password=admin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="Flow.Tasks.Data.FlowTasksEntities, Flow.Tasks.Data">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Flow.Tasks.Data.FlowTasksEntities, Flow.Tasks.Data],                               [Flow.Tasks.Data.Migrations.Configuration, Flow.Tasks.Data]], EntityFramework"/>
      </context>
      <context type="Flow.Users.Data.FlowUsersEntities, Flow.Users.Data">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Flow.Users.Data.FlowUsersEntities, Flow.Users.Data],                               [Flow.Users.Data.Migrations.Configuration, Flow.Users.Data]], EntityFramework"/>
      </context>
    </contexts>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--<contexts>
      <context type="**fully-qualified context type**, **assembly name**">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[**fully-qualified context type**,**assembly name**], 
                             [**fully-qualified configuration type**, **assebly name**]], EntityFramework" />
      </context>
    </contexts>-->
