<section ng-controller="HolidayCtrl">
    <div class="pre-loading" style="display: block;">
        <div data-indicator="0" class="fa-2x" data-show="true"></div>
        <span class="preloadertext">Loading...</span>
    </div>
    <div id="content" class="fadeWhenChange" style="display: none;">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-calendar"></i>Holiday</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs tabs-pull-left">
                    <li ng-class="{'active':isTab('mine')}">
                        <a href="javascript:;" ng-click="changeTab('mine')">My holidays</a>
                    </li>
                    <li ng-class="{'active':isTab('other')}">
                        <a href="javascript:;" ng-click="changeTab('other')">View other users</a>
                    </li>
                </ul>
                <div class="col-xs-12" ng-if="isTab('mine')">
                    <form class="smart-form" name="holidayform" ng-submit="submitHoliday(holiday.submit)" novalidate>
                        <div ng-include data-src="'scripts/flowTasksApp/views/holiday/index.mine.html'"></div>
                    </form>
                </div>
                <div class="col-xs-12" ng-if="isTab('other')">
                    <div ng-include data-src="'scripts/flowTasksApp/views/holiday/index.other.html'"></div>
                </div>
            </div>
        </div>
    </div>
</section>
