
body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}

p
{
	margin-bottom: 5px;
	line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4{
    font-size: 1.5em;
}

h1 {
    background-color: #F4F2E4;
    border-bottom: 1px solid #9A8E51;
    margin-bottom: 20px;
}

h2 {
	background-color: #F4F2E4;
    border-bottom: 1px solid #9A8E51;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-weight: bold;
    padding:0px;
    margin-top:5px;
    margin-bottom:5px;
}

/* Paragraph
----------------------------------------------------------*/
.blockBreak {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ==== CSS 3 ==============================*/

.roundBox
{
	cursor: pointer;
	border: 1px solid #a1a1a1;
	padding: 2px 4px;
	background: #FFFFFF;
	width: 80px;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
}

.linkBox
{
	cursor: pointer;
	border: 0px;
	padding: 2px 4px;
	background: #FFFFFF;
	color:Navy;
	font-style:italic;
}

.linkBoxColor
{
	cursor: pointer;
	border: 0px;
	padding:2px;
	/*padding: 2px 4px;*/
	background: #FFFFFF;
	color:Navy;
}
.linkBoxColor:hover
{
	cursor: pointer;
	border: 0px;
	padding:2px;
	/*padding: 2px 4px;*/
	background: #FFFFFF;
	color:Black;
	text-decoration: underline;	
}

/* =========================================

Error

========================================= */

.validationError
{
	padding-left: 6px;
	color: Red;
}

.error-container
{
	padding-left: 6px;
	color: Red;
}

/* =========================================

Header

========================================= */

#header
{
	background-color: #FBFAF4;
	border-bottom: 1px solid #999999;
	margin-bottom: 30px;
}

/* =========================================

Login

========================================= */

#login
{
	margin-bottom: 10px;
}

.btnLogin
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none; /*font: 14px/100% Arial, Helvetica, sans-serif;*/
	padding: .2em 1em .25em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btnLogin:hover
{
	text-decoration: none;
}
.btnLogin:active
{
	position: relative;
	top: 1px;
}

.lblLogin
{
	float: left;
	padding: 5px;
	width: 90px;
}

.rowLogin
{
	padding: 5px;
}

/* =========================================

Comments

========================================= */


.comment
{
	/*padding-top:10px;*/
	padding-bottom:10px;
}

.comment p
{
	color:Black;
}

.comment input
{
	width:700px;
}

#comments 
{
	/*height:150px;*/
	overflow:auto;
}

#comments
{
	border:0px solid #dddddd;
}

#comments table
{
	border:0;
	padding: 0px;
	margin:0px;
	width:100%;
	border-collapse:collapse;
}

#comments table tr
{
	margin:0px;
	padding: 0px;
	border:0px;
}

#comments table th
{
	color: #FF6A00;
	background-color: #ffffff;
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
}

#comments table td
{
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}

.taskComment
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#no_comments
{
	margin:0px;
	padding:0px;
}

#no_comments p
{
	margin:0px;
	padding:0px;
	font-size:0.8em;
	font-style:italic;
}

.workflowId {
    width:250px;
}

/* =========================================

Property

========================================= */


.property
{
	/*padding-top:10px;*/
	padding-bottom:10px;
}

.property p
{
	color:Black;
}

.property input
{
	width:700px;
}

#properties 
{
	/*height:150px;*/
	overflow:auto;
}

#properties
{
	border:0px solid #dddddd;
}

#properties table
{
	border:0;
	padding: 0px;
	margin:0px;
	width:100%;
	border-collapse:collapse;
}

#properties table tr
{
	margin:0px;
	padding: 0px;
	border:0px;
}

#properties table th
{
	color: #FF6A00;
	background-color: #ffffff;
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
}

#properties table td
{
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}

#no_properties
{
	margin:0px;
	padding:0px;
}

#no_properties p
{
	margin:0px;
	padding:0px;
	font-size:0.8em;
	font-style:italic;
}

/* =========================================

Tasks

========================================= */


.task
{
	/*padding-top:10px;*/
	padding-bottom:10px;
}

.task p
{
	color:Black;
}

.task input
{
	width:700px;
}

#tasks 
{
	/*height:150px;*/
	overflow:auto;
}

#tasks
{
	border:0px solid #dddddd;
}

#tasks table
{
	border:0;
	padding: 0px;
	margin:0px;
	width:100%;
	border-collapse:collapse;
}

#tasks table tr
{
	margin:0px;
	padding: 0px;
	border:0px;
}

#tasks table th
{
	color: #FF6A00;
	background-color: #ffffff;
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
}

#tasks table td
{
	margin:0px;
	padding: 5px;
	border-right:1px solid #cccccc;	
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}

#no_tasks
{
	margin:0px;
	padding:0px;
}

#no_tasks p
{
	margin:0px;
	padding:0px;
	font-size:0.8em;
	font-style:italic;
}

/* ============== Datepicker ================= */


.datePicker
{
	width:85px;
}

.ui-datepicker
{
	/*font-size: 62.5%;*/
}

/* =========================================== */


#searchWorkflow
{			
	padding-bottom:10px;	
}

#workflowPager
{		
}

.workflowCommands
{		
    padding-top:10px;
}

.floatRight
{			
	float:right;
}

/* =========================================== */

#errorMessageBox
{	
}

/* HEADER   
----------------------------------------------------------*/

#header {
    background-color: #FBFAF4;
    border-bottom: 1px solid #999999;
    margin-bottom: 30px;
}

.logo {
    font-size: 2.0em;
    background-image: url("../Images/logo.png");
    height: 64px;
    width: 200px;
    float: left;
}

.menuSpace {
    margin-left: 40px;
}

#headerMenu {
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    #headerMenu a {
        font-size: 1.3em;
        font-weight: bold;
        color: gray;
        text-decoration: none;
    }

        #headerMenu a.menuSelected {
            font-weight: bold;
            color: Black;
            text-decoration: none;
        }

        #headerMenu a:hover {
            font-weight: bold;
            color: #ef910d;
            text-decoration: underline;
        }

        #headerMenu a.menuSelected:hover {
            font-weight: bold;
            color: Black;
            text-decoration: none;
        }

/*
.ui-dialog-title 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}

.ui-dialog .ui-dialog-buttonpane button  
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
*/